  :root{
    --bleu_ciel: rgb(115, 186, 215);
  }


main {
  display: flex;
  gap: 25px;
}


@font-face{
  font-family: PressStart;
  src: url('PressStart2P-Regular.ttf')
}

body {
  background-image: url("fond.jpg");
  font-family: 'PressStart', sans-serif;
  color: white;
}

header nav ul{
  padding-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 500px;
  list-style-type: none;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

header nav ul li{
  margin-left: 10px;
  padding: 7px;
  border-radius: 20px;
  border: 2px solid dodgerblue;
}

nav a {
  color:dodgerblue;
}
nav a:hover{
  color: var(--bleu_ciel);
}

nav ul li:hover{
  border: 2px solid var(--bleu_ciel);
}


main {
  border: 5px;
  border-color: skyblue;
}

main article{
  padding: 5px;
  border-top: 5px;
  width: 920px;
  display: flex;
  flex-direction: column;
}

main article div {
  background-color: black;
  border-radius: 35px;
  border:2px solid dodgerblue;
  padding: 25px;
  margin: 10px;
  width: fit-content;
}

main div a{
  color: dodgerblue;
}

main div:hover{
  border-color: var(--bleu_ciel);
}
main div a:hover{
  color: var(--bleu_ciel);
}



aside {
  padding:5px;
  width: 475px;
  border: 4px solid dodgerblue;
  border-radius: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside h2 {
  text-decoration: underline;
}

aside figure img {
  border-radius: 50%;
  width: 195px;
  height: 195px;
  border: 5px solid dodgerblue;
}

aside ul li {
  list-style: none;
  margin-top: 10px;
}