:root{
    --bleu_ciel: rgb(115, 186, 215);
  }


@font-face{
  font-family: PressStart;
  src: url('PressStart2P-Regular.ttf')
}

body {
  background-image: url("fond.jpg");
  font-family: 'PressStart', sans-serif;
  color: white;
}

header nav ul{
  padding-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 500px;
  list-style-type: none;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

header nav ul li{
  margin-left: 10px;
  padding: 7px;
  border-radius: 20px;
  border: 2px solid dodgerblue;
}

nav a {
  color:dodgerblue;
}
nav a:hover{
  color: var(--bleu_ciel);
}

nav li:hover{
  border: 2px solid var(--bleu_ciel);
}


main {
  border: 5px;
  border-color: skyblue;
  display: flex;
  gap: 25px;
}
main h1 {
    font-size: 24px;
}

main article{
  display: block;
  padding: 5px;
  border-top: 5px;
}

main article p{
  line-height: 1.5em
}

main article div {
  background-color: black;
  border-radius: 35px;
  border:2px solid dodgerblue;
  padding: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer p {
  padding: 7px;
  border-radius: 20px;
  border: 2px solid dodgerblue;
}

footer p a {
    color: dodgerblue;
}

footer p:hover {
    border: 2px solid var(--bleu_ciel);
}
footer p a:hover {
    color: var(--bleu_ciel);
}